---
layout: default
---

  <section class="call-to-action">
    <div class="container"></div>
  </section>

  <section class="cards">
    <div class="container">
      <aside>
        <figure>
          <img src="" alt="" />
        </figure>

        <h4>Jornalista, repórter ou só tem sede de conhecimento?</h4>
        <p>seu lugar é aqui! Leia nosso FAQ.</p>
      </aside>

      <aside>
        <figure>
          <img src="" alt="" />
        </figure>

        <h4>Precisamos de ajuda!</h4>
        <p>Descubra as diferentes maneiras de como pode contribuir com o nosso projeto :)</p>
      </aside>

      <aside>
        <figure>
          <img src="" alt="" />
        </figure>

        <h4>Já leu nossos textos?</h4>
        <p>Se sim, vale a pena ler de novo. Se não, tá esperando o que?</p>
      </aside>
    </div>
  </section>

  <section class="current-goal">
    <div class="container">
      <h3>Meta atual - Operação Técnica Mínima</h3>
      
      <aside>
        75.7%
      </aside>
      
      <aside>
        <h5>Valor: R$ 15.000</h5>
        <p>
          Com esse valor nós conseguimosmanter uma mínima equipe técnica, 
          para manter o funcionamento e fazer melhorias considerando o foco da operação.
          Além disso, ainda contamos com a parte da equipe que mantém o trabalho voluntário.
        </p>
      </aside>
    </div>
  </section>

  <section class="support-link">
    <a href="#" target="_blank" rel="noopener noreferrer">
      apoia.se/serenata
    </a>
  </section>

  <section class="last-posts">
    <div class="container">
      <h1>{% translate home.last_stories %}</h1>

      <section class="posts-thumb-area">
         {% translate home.loading %}
      </section>

      <div>
        {% if site.lang == "en" %}
          <a href="/en/stories/" class="more-posts-link">
            {% translate home.more_stories %}
          </a>
        {% else %}
          <a href="/stories/" class="more-posts-link">
            {% translate home.more_stories %}
          </a>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- <div class="banner-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/logo_w.png" width="100%">
          <h1>{% translate home.about %}</h1>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="content-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12 infographic">
          {% if site.lang == "en" %}
            <img class="infographic-image" src="/images/infographic.png">
          {% else %}
            <img class="infographic-image" src="/images/infografico.png">
          {% endif %}
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="disclaimer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 content-block">
          <h2>{% translate home.about_rosie %}</h2>
        </div>
        <div class="col-md-4 robot-picture">
        </div>
      </div>
    </div>
  </div> -->