body{
  background-color: #000;
  color: white;
  font-family: 'Anonymous Pro', monospace;
}

p{
  font-size: 18px;
}

.header-bg{
  background: url(/img/serenata-bg.png);
  background-position: 0px -35px;
  background-size: cover;
  min-height: 480px;
  padding-top: 90px;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.catarse-stripe{
  padding: 20px 0px;
  background-color: #fff;
  font-size: 28px;
  text-align: center;
}

.catarse-stripe a{
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-block{
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-group .panel {
  border: none;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #000;
  border: none;
}

.panel-title a{
  font-size: 22px;
  text-decoration: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  background-color: #000;
  border-top: none;
}

.ways-to-engage{
  background-color: #fff;
  color: #000;
}

.volunteer-panel{
  background-color: #210040;
}

.opensource-panel{
  background-color: #43007F;

}

.share-panel{
  background-color: #8500FF;
}

.crowdfunding-panel{
  background-color: #7800E5;
}

.dsbr-panel{
  background-color: #fff;
  color: #000;
  text-align: center;
}

footer{
  text-align: center;
  height: 70px;
  background-color: #43007F;
  color: #fff;
  padding-top: 20px;
}

footer a{
  color: #fff;
  font-size: 20px;
}

footer a:hover{
  color: #fff;
}
