<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-menu">
        <a href="#" target="_blank">SOBRE</a>
        <a href="#" target="_blank">FAQ</a>
        <a href="https://jarbas.datasciencebr.com" target="_blank">JARBAS</a>
        <a href="https://github.com/datasciencebr/rosie" target="_blank">ROSIE</a>
        <a href="https://github.com/datasciencebr/serenata-de-amor" target="_blank">SERENATA NO GITHUB</a>
        <a href="https://www.facebook.com/operacaoSerenataDeAmor/" target="_blank">FACEBOOK</a>
        <a href="https://datasciencebr.com/" target="_blank">MEDIUM</a>
        <a href="mailto:op.serenatadeamor@gmail.com" target="_blank">CONTATO</a>
      </div>
      <div class="col-md-4 col-md-offset-1 dsbr-footer">
        <img src="/images/codeland.png" width="100%">
      </div>
    </div>
  </div>
</footer>