<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-menu">
        <a href="https://twitter.com/rosiedaserenata" target="_blank">Rosie</a>
        <a href="https://jarbas.serenata.ai/" target="_blank">Jarbas</a>
        <a href="https://github.com/okfn-brasil/serenata-de-amor" target="_blank">{% t footer.github %}</a>
        <a href="https://www.facebook.com/operacaoSerenataDeAmor/" target="_blank">{% t footer.facebook %}</a>
        <a href="mailto:contato@serenata.ai" target="_blank">{% t footer.contact %}</a>
      </div>
      <div class="col-md-4 dsbr-footer">
        <a href="https://datasciencebr.com/contrate-especialistas-3b0b025d3bd1#.jylbm96ig">
          <img src="/images/dslogo.png" width="100%">
        </a>
      </div>
      <div class="col-md-4 ta-c">
        <h2>{% t footer.partners %}</h2>
        <a href="https://www.digitalocean.com/" class="partner-anchor">
          <img src="/images/digitalocean.png" height="40px">
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84269306-2', 'auto');
  ga('send', 'pageview');

</script>
