<header>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <img src="/images/logo.png" width="140">
        </div>
        <div class="pull-right menu">
          <a href="/histories/">HISTÓRIAS</a>
          <a href="#">EXPLORAR</a>
          <a href="/about/">SOBRE</a>
          <a href="/faq/">FAQ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="support-cta">
    <a href="https://apoia.se/serenata" target="_blank" class="support-cta-anchor">
      Apoie o nosso projeto
    </a>
  </div>
</header>
