<header class="header-primary">
  <div class="container">
    <div class="header-box">
      <h1 class="company-logo">
        <a href="/">
          Operação Serenata de Amor
        </a>
      </h1>
    </div>

    <div class="header-box social">
      <div class="apoia-se">
        <a href="https://apoia.se/serenata" target="_blank" rel="noopener">
          {% translate support.fund_us %}
        </a>
      </div>

       <ul>
         <li><a target="_blank" rel="noopener" href="https://github.com/datasciencebr">Github</a></li>
         <li><a target="_blank" rel="noopener" href="http://datasciencebr.com">Medium</a></li>
         <li><a target="_blank" rel="noopener" href="https://www.facebook.com/operacaoSerenataDeAmor">Facebook</a></li>
         <li><a target="_blank" rel="noopener" href="https://twitter.com/RosieDaSerenata">Twitter</a></li>
       </ul>
    </div>
    
    <div class="header-box language">
      <ul>
        <li><a href="" title="PT">pt</a></li>
        <li><a href="" title="EN">en</a></li>
      </ul>
    </div>
  </div>
</header>