<!-- <header>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <a href="/"><img src="/images/logo.png" width="140" alt="Operação Serenata de Amor"></a>
        </div>
        <div class="pull-right menu">
          <a href="/histories/">HISTÓRIAS</a>
          <a href="#">EXPLORAR</a>
          <a href="/about/">SOBRE</a>
          <a href="/faq/">FAQ</a>
        </div>
      </div>
    </div>
    <div class="support-cta">
      <a href="https://apoia.se/serenata" target="_blank" class="support-cta-anchor">
        Apoie o projeto
      </a>
    </div>
  </div>
</header> -->

<header>
  <nav class="top-menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="pull-left">
          <a href="/"><img src="/images/logo.png" width="140" alt="Operação Serenata de Amor"></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right menu">
          <li class="active"><a href="/histories/">HISTÓRIAS</a></li>
          <li><a href="/explore/">EXPLORAR</a></li>
          <li><a href="/about/">SOBRE</a></li>
          <li><a href="/faq/">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="support-cta">
    <a href="https://apoia.se/serenata" target="_blank" class="support-cta-anchor">
      Apoie o projeto
    </a>
  </div>
</header>
