<nav class="nav-primary">
  <div class="container">
    <ul>
      <li><a href="" title="">Home</a></li>
      <li><a href="" title="">Sobre</a></li>
      <li><a href="" title="">Equipe</a></li>
      <li><a href="" title="">Leitura</a></li>
      <li><a href="" title="">Projetos</a></li>
      <li><a href="" title="">FAQ</a></li>
      <li><a href="" title="">Apoie</a></li>
      <li><a href="" title="">Contato</a></li>
    </ul>

    <!--
    <ul>
      {% if site.lang == "en" %}
      <li class="active"><a href="/en/stories/">{% translate header.stories %}</a></li>
      {% else %}
      <li class="active"><a href="/stories/">{% translate header.stories %}</a></li>
      {% endif %} {% if site.lang == "en" %}
      <li><a href="/en/explore/">{% translate header.explore %}</a></li>
      {% else %}
      <li><a href="/explore/">{% translate header.explore %}</a></li>
      {% endif %} {% if site.lang == "en" %}
      <li><a href="/en/about/">{% translate header.about %}</a></li>
      {% else %}
      <li><a href="/about/">{% translate header.about %}</a></li>
      {% endif %} {% if site.lang == "en" %}
      <li><a href="/en/faq/">FAQ</a></li>
      {% else %}
      <li><a href="/faq/">FAQ</a></li>
      {% endif %} {% if site.lang == "en" %}
      <li><a href="/">PT_BR</a></li>
      {% else %}
      <li><a href="/en">EN</a></li>
      {% endif %}
    </ul> 
    -->
  </div>
</nav>