// Imports
// ====

@import 'variables';

body, html {
  height: 100%;
}

body {
  font-family: $ff-default;
  background-color: $black;
  color: white;
  margin: 0;
  padding: 0;
}

.page-content {
  padding-top: 150px;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

h1, h2{
  font-weight: 600;
}

h4 {
  font-size: 34px;
}

p {
  font-size: 18px;
}
