doctype html
html lang="en"
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    title Operação Serenata de Amor
    link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet"
    link href="/css/bootstrap.min.css" rel="stylesheet"
    link href="/css/index.css" rel="stylesheet"
    script src="/js/jquery-3.1.0.min.js"
    script src="/js/bootstrap.min.js"
  body
    .header-bg
      .container
        .row
          .col-md-6.col-md-offset-3
            img src="img/logo_w.png" width="100%"
    .catarse-stripe
      h1
        a href="http://catarse.me/serenata" CONHEÇA NOSSA CAMPANHA DE FINANCIAMENTO COLETIVO
    .main-text
      .container
        .row
          .col-md-8.col-md-offset-2.content-block
            h1 ROBÔS LUTANDO CONTRA A CORRUPÇÃO NO BRASIL
            p A ideia de automatizar a análise de contas públicas é inédita: engajar a população para treinar nossa plataforma na análise e revisão de contas. Após esse estágio inicial a automatização potencializa análise de dados em volumes inéditos, aumentando a chance de acharmos furos e corruptos.
            iframe width="100%" height="415" src="https://www.youtube.com/embed/JIDEewSBs9k" frameborder="0" style="margin: 20px 0px" allowfullscreen
            p Em outras palavras, a plataforma de Machine Learning convida a população a ensiná-la, aprende com isso, e expande os métodos massivamente. Em paralelo a produção de conteúdo e uma interface amigável para explorar os dados expandirão o acesso a informação. Ao massificarmos a análise do que é feito com dinheiro público e a exposição dessas análises de forma aberta, toda a sociedade terá argumentos para pressionar políticos e exigir que dinheiro desviado seja devolvido aos cofres públicos.
            p Em segundo plano esse movimento ajuda a criar uma imagem mais transparente sobre a atuação política de parlamentares, fazendo com que todos tenhamos mais parâmetros na hora de decidir quem leva nosso voto nas próximas eleições.

    .ways-to-engage
      .container
        .row
          .col-md-8.col-md-offset-2.content-block
            h1 MANEIRAS DE SE ENVOLVER
    .volunteer-panel
      .container
        .row
          .col-md-2.engage-icon
            img src="/img/heart.png" width="100%"
          .col-md-8.content-block
            h2 CONTRIBUA COM A NOSSA CAMPANHA DE FINANCIAMENTO COLETIVO
            p Para fazer da Serenata uma realidade e conseguirmos ter resultados cada vez melhores com nosso Robô, queremos dedicar dois meses de uma equipe para trabalhar com dedicação full time a isso. Contribuindo com a nossa campanha de financiamento coletivo, você está diretamente ajudando a tornar o combate a corrupção no Brasil através da tecnologia e pelas mãos do povo uma realidade.
            a href="http://catarse.me/serenata" target="_blank" class="btn-link"
              button CONTRIBUA COM O FINANCIAMENTO COLETIVO
    .opensource-panel
      .container
        .row
          .col-md-2.engage-icon
            img src="/img/computer.png" width="100%"
          .col-md-8.content-block
            h2 DÊ IDEIAS, ANALISE DADOS E CONTRIBUA COM CÓDIGO
            p A Operação Serenata de Amor é completamente open source, ou seja, toda linha de código e todos os dados gerados estão disponíveis em nosso GitHub. Dentro da nossa lista de issues você pode encontrar várias tarefas que precisam ser executadas e se juntar a um time fantástico de voluntários que já está contribuindo.
            a href="https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md" target="_blank" class="btn-link"
              button CONTRIBUA
    .share-panel
      .container
        .row
          .col-md-2.engage-icon
            img src="/img/sherlocked.png" width="100%"
          .col-md-8.content-block
            h2 INVESTIGANDO CASOS
            p No estágio que está, nosso Robô ainda está aprendendo a identificar onde há corrupção. Precisamos de voluntários que verificarão se o caso é válido. Você não precisa de nenhuma experiência investigativa prévia de qualquer natureza, basta curiosidade e vontade de ajudar o nosso país. Enviaremos para você passo a passo o que precisará ser feito.
            a href="http://bit.ly/2cfhpUB" target="_blank" class="btn-link"
              button SEJA UM INVESTIGADOR

    .crowdfunding-panel
      .container
        .row
          .col-md-2.engage-icon
            img src="/img/wifi.png" width="100%"
          .col-md-8.content-block
            h2 DIVULGANDO E FAZENDO CONEXÕES
            p Para que o projeto tenha sucesso, é crucial criarmos um senso de comunidade em volta da operação. Você pode contribuir para aumentar essa comunidade com a divulgação nas suas redes e nos conectando com pessoas chave que possam ajudar com o progresso ou que tenham interesse de contribuir de alguma dessas formas.
            a href="https://www.facebook.com/sharer/sharer.php?u=serenata.datasciencebr.com" target="_blank" class="btn-link"
              button COMPARTILHE NO FACEBOOK
            a href="https://twitter.com/home?status=Saiba%20mais%20sobre%20a%20opera%C3%A7%C3%A3o%20%23SerenataDeAmor%3A%20http%3A//serenata.datasciencebr.com%20via%20%40datascience_br" target="_blank" class="btn-link"
              button FALE SOBRE NO TWITTER
    .container
      .row
        .col-md-8.col-md-offset-2.content-block
          h1 FAQ
          #accordion.panel-group aria-multiselectable="true" role="tablist"
            .panel.panel-default
              #headingOne.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseOne" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button"
                    | 1. Quem é responsável pelo projeto?
              #collapseOne.panel-collapse.collapse.in aria-labelledby="headingOne" role="tabpanel"
                .panel-body
                  p
                    | A iniciativa é da&nbsp
                    a href="http://datasciencebr.com" target="_blank" Data Science Brigade
                    | , que tem um time como organização. Mas como o código é aberto, contamos com um corpo de voluntários - colaboradores do mundo inteiro, além dos jornalistas e investigadores.
            .panel.panel-default
              #headingTwo.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseTwo" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button"
                    | 2. Qual o canal de comunicação do projeto?
              #collapseTwo.panel-collapse.collapse aria-labelledby="headingTwo" role="tabpanel"
                .panel-body
                  p
                   | Atualmente conversamos em um&nbsp
                   a href="http://bit.ly/2cUBFr6" target="_blank" grupo aberto do Telegram
                   | . Você é muito bem vindo para se juntar a ele.

            .panel.panel-default
              #headingThree.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseThree" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button"
                    | 3. O que é open source?
              #collapseThree.panel-collapse.collapse aria-labelledby="headingThree" role="tabpanel"
                .panel-body
                  p Open source é um termo em inglês utilizado para distribuição de código de forma aberta, onde todas as pessoas interessadas em contribuir para a evolução do projeto podem, de forma livre, agregar suas ideias.

            .panel.panel-default
              #headingFour.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseFour" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role="button"
                    | 4. Por que a comunicação é feita em inglês?
              #collapseFour.panel-collapse.collapse aria-labelledby="headingFour" role="tabpanel"
                .panel-body
                  p Contamos com uma comunidade criada em volta do projeto que vai além do Brasil - pessoas de outros países interessadas em contribuir. Dentro do repositório do Github e em nosso canal do Telegram, optamos por usar a língua inglesa para que possamos incluir as opiniões dessas pessoas na discussão.

            .panel.panel-default
              #headingFive.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseFive" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseFive" role="button"
                    | 5. Como as denúncias são feitas?
              #collapseFive.panel-collapse.collapse aria-labelledby="headingFive" role="tabpanel"
                .panel-body
                  p
                    | Você pode ler mais sobre isso em na seguinte postagem no medium:&nbsp
                    a href="http://bit.ly/2cPE22n" target="_blank" http://bit.ly/2cPE22n

            .panel.panel-default
              #headingSix.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseSix" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseSix" role="button"
                    | 6. Como eu posso contribuir/trabalhar nisso?
              #collapseSix.panel-collapse.collapse aria-labelledby="headingSix" role="tabpanel"
                .panel-body
                  p Você pode contribuir de várias formas, as quatro principais estão acessíveis aqui acima no site.

            .panel.panel-default
              #headingSeven.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseSeven" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven" role="button"
                    | 7. Como posso investigar um caso?
              #collapseSeven.panel-collapse.collapse aria-labelledby="headingSeven" role="tabpanel"
                .panel-body
                  p
                    | Basta se cadastrar&nbsp
                    a href="http://bit.ly/2cfhpUB" target="_blank" nesse formulario&nbsp
                    | e assim que o proximo caso estiver disponivel, voce ira recebe-lo por email.

            .panel.panel-default
              #headingEight.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseEight" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseEight" role="button"
                    | 8. O que é Machine Learning?
              #collapseEight.panel-collapse.collapse aria-labelledby="headingEight" role="tabpanel"
                .panel-body
                  p
                    | Para falar sobre Machine Learning, selecionamos um video que sumariza tudo que precisamos saber para entender sobre o assunto:&nbsp
                    a href="https://youtu.be/b4MxnoisnOM" target="_blank" https://youtu.be/b4MxnoisnOM

            .panel.panel-default
              #headingNine.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseNine" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseNine" role="button"
                    | 9. O que é inteligência artificial?
              #collapseNine.panel-collapse.collapse aria-labelledby="headingNine" role="tabpanel"
                .panel-body
                  p
                    | Você pode ler mais sobre isso em na seguinte postagem no medium:&nbsp
                    a href="http://bit.ly/2cdf6MK" target="_blank" http://bit.ly/2cdf6MK

            .panel.panel-default
              #headingTen.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseTen" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseTen" role="button"
                    | 10. O que é a cota para exercício de atividade parlamentar?
              #collapseTen.panel-collapse.collapse aria-labelledby="headingTen" role="tabpanel"
                .panel-body
                  p A Cota para Exercício de Atividade Parlamentar é um valor mensal de até R$ 45 mil que cada deputado tem direito a ressarcimento por gastos que não cabem licitação. Um almoço ou pagamento de táxi, por exemplo.

            .panel.panel-default
              #headingEleven.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseEleven" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseEleven" role="button"
                    | 11. Quais dados utilizamos?
              #collapseEleven.panel-collapse.collapse aria-labelledby="headingEleven" role="tabpanel"
                .panel-body
                  p
                    | Utilizamos os dados publicamente disponíveis através do&nbsp
                    a href="http://www.portaldatransparencia.gov.br/" target="_blank" Portal da Transparência
                    | , segundo a lei de transparência de gastos públicos.

            .panel.panel-default
              #headingTwelve.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseTwelve" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseTwelve" role="button"
                    | 12. Por que estamos arrecadando fundos através de financiamento coletivo?
              #collapseTwelve.panel-collapse.collapse aria-labelledby="headingTwelve" role="tabpanel"
                .panel-body
                  p Queremos dedicar dois meses do trabalho em tempo integral de uma equipe de 7 pessoas para o aprimoramento do robô. O valor arrecadado cobre esse tempo e a estrutura tecnológica necessária.

            .panel.panel-default
              #headingThirteen.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseThirteen" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseThirteen" role="button"
                    | 13. Por que estamos usando python?
              #collapseThirteen.panel-collapse.collapse aria-labelledby="headingThirteen" role="tabpanel"
                .panel-body
                  p Usamos python por que ele nos fornece a grande maioria de bibliotecas disponíveis para análise de dados, e também pois temos mais experiência com o que a linguagem nos oferece.

            .panel.panel-default
              #headingFourteen.panel-heading role="tab"
                h4.panel-title
                  a.collapsed aria-controls="collapseFourteen" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseFourteen" role="button"
                    | 14. O que é o Jarbas?
              #collapseFourteen.panel-collapse.collapse aria-labelledby="headingFourteen" role="tabpanel"
                .panel-body
                  p
                    | O&nbsp
                    a href="http://jarbas.datasciencebr.com/" target="_blank" Jarbas&nbsp
                    | é uma ferramenta criada por nós para facilitar a visualização dos dados que estão sendo minerados por nosso Robô.

            p
              | Tem duvidas? Junte-se a nos no&nbsp
              a href="http://bit.ly/2cUBFr6" target="_blank" telegram

  .dsbr-panel
    .container
      .row
        .col-md-8.col-md-offset-2.content-block
          .col-md-8.col-md-offset-2
            img src="img/dslogo.png" width="100%"
            h3 A Operação Serenata de Amor é uma iniciativa da Data Science Brigade - profissionais resolvendo problemas com big e small data.

footer
  .container
    a href ="https://github.com/datasciencebr/serenata-de-amor" target="_blank" GitHub
    span&nbsp-&nbsp
    a href ="https://www.facebook.com/operacaoSerenataDeAmor/" target="_blank" Facebook
    span&nbsp-&nbsp
    a href ="https://twitter.com/datascience_br" target="_blank" Twitter
    span&nbsp-&nbsp
    a href ="https://www.catarse.me/serenata" target="_blank" Catarse
    span&nbsp-&nbsp
    a href ="https://datasciencebr.com" target="_blank" Blog
    span&nbsp-&nbsp
    a href ="https://www.youtube.com/channel/UCr1B4Py1TLkoxLKryL7SO5Q" target="_blank" YouTube
